.app {
  text-align: center;
}


.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.app-header {
  background-color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 33vh;
  margin-bottom: -10rem;
  color: white;
  font-size: 4rem;
  padding-bottom: 10rem;
  box-sizing: border-box;
}

.component {
  font-size: 2rem;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
